.container {
    width: 100%;
    max-width: 650px;
    height: 100vh;
    margin: auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Back */
.backButton {
    background: none;
    padding: 12px 14px;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* CHAT WINDOW */
.chatBox {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 14px;
}

/* Your Msg */
.me {
    align-self: flex-end;
    background: #7c4dff;
    padding: 10px 15px;
    max-width: 75%;
    color: #fff;
    border-radius: 14px 14px 3px 14px;
    animation: pop .2s ease;
}

/* Other User */
.them {
    align-self: flex-start;
    background: #1e1e1e;
    padding: 10px 15px;
    max-width: 75%;
    color: #ececec;
    border-radius: 14px 14px 14px 3px;
    animation: pop .25s ease;
}

/* INPUT BAR */
.inputArea {
    display: flex;
    gap: 10px;
    padding: 12px;
    background: #00000040;
}

.inputArea input {
    flex: 1;
    background: #151515;
    border: none;
    color: white;
    font-size: 15px;
    padding: 12px;
    border-radius: 8px;
}

.inputArea input::placeholder {
    color: #999;
}

.inputArea button {
    background: #7d4dff;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    transition: .2s;
}

.inputArea button:hover {
    background: #9a6aff;
    transform: scale(1.05);
}

/* 👇 MOBILE SCALE */
@media(max-width:550px) {
    .container {
        border-radius: 0;
        height: 100vh;
    }

    .me,
    .them {
        max-width: 85%;
        font-size: 14px;
    }

    .chatBox {
        padding: 10px;
    }

    .inputArea {
        padding: 10px;
        gap: 7px;
    }

    .inputArea button {
        padding: 10px 14px;
        font-size: 13px;
    }
}